// Файл обнуляющих стилей
@import "nullstyle.scss";

// Шрифты 

@font-face {
	font-family: "Gilroy-Bold";
	src: url(/fonts/Gilroy-Bold.ttf) format("ttf.");
}
@font-face {
	font-family: "Gilroy-Medium";
	src: url(fonts/Gilroy-Medium.ttf) format('ttf.');
}


// Переменные для блока
$black: #070707;
$gray: #828282;

body {
	font-size: 18px;
}
.header {
	background-color: white;  
	position: fixed;  
	top: 0;  
	z-index: 100;  
	width: 100%;  
}
.container {
	width: 100%;
	max-width: 960px;
	padding: 0 10px;
	margin: 0 auto;
	
}


// Navbar
.nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 33px;
	padding-bottom: 33px;
	@media (max-width: 767px) {
		display: none;
	}
	
}
.nav__link {
	display: inline-block;
	cursor: pointer;
	font-size: 18px;
	font-family: "Gilroy-Bold",sans-serif;
	line-height: 22px;
	color: $gray;
	transition: color .2s linear;
	font-weight: 700;
	&:hover{
		color: $black;
	}
	@media (max-width:767px){
		font-size: 34px;
		line-height: 42px;
		width: 100%;
		margin-top: 68px;
		margin-left: 26px;
	}
}

.border {
	border: 1px solid $gray;
	@media (max-width: 767px) {
		display: none;
	}
}


// Info

.home {
	padding-top: 100px;
	@media (max-width: 767px) {
		padding-top: 50px;
	
	}
	@media (max-width: 375px) {
		padding-top: 0;

	}
}

.info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 40px;

	@media (max-width:375px) {
		align-items: start;
		flex-direction: column;
		justify-content: start;
		margin-left: 26px;
		margin-top: 60px;
	}
}

.info__title {
	font-family: "Gilroy-Bold", sans-serif;
	font-weight: 700;
	font-size: 47px;
	line-height: 59px;
	color: $black;


	@media (max-width:375px) {
		margin-bottom: 23px;
	}


}
.info__subtitle {
	font-family: "Gilroy-Medium", sans-serif;
	font-size: 18px;
	line-height: 22px;

}
.language {
	writing-mode: tb-rl;
	transform: scale(-1);
	font-family: "Gilroy-Bold", sans-serif;
	font-size: 16px;
	line-height: 20px;
	color: $gray;
	font-weight: 700;
	.black {
		display: inline-block;
		color: $black;
	}
	@media (max-width:375px){
		display: none;
	}
}
.image {
	display: block;
  	max-width: 100%;
 	height: auto;
	margin-top: 30px;
	margin-bottom: 105px;

	@media (max-width:600px){
		display: none;
	}
}
.img {
	display: none;
  	max-width: 100%;
 	height: auto;
	
	 @media (max-width:600px){
		display: block;
      margin: 20px auto;
		width: 50%;
	}
	@media (max-width:450px){
		display: block;
      margin: 20px auto;
		width: 75%;
	}
	@media (max-width:376px){
		display: block;
      margin: 37px auto 83px auto;
		width: 85%;
	}
}
// About

.about {
	background-color: #F6F6F6;
}

.about__title {
	font-family: "Gilroy-Bold", sans-serif;
	font-size: 34px;
	line-height: 42px;
	text-align: center;
	font-weight: 700;
	color: $black;
	padding-top: 120px;
	@media (max-width:600px){
		padding-top: 80px;
	}
}

.about__text {
	font-family: "Gilroy-Medium", sans-serif;
	font-size: 18px;
	line-height: 22px;
	color: $black;
	max-width: 485px;
	margin: 18px auto 0;
	text-align: center;
	p {
		margin-bottom: 30px;
	}
	p:last-child {
		padding-bottom: 107px;
		margin-bottom: 0;
		@media (max-width:600px){
			padding-bottom: 76px;
		}
	}

}

.skills {
	display: flex;
}
.skills__title {
	font-family: "Gilroy-Bold", sans-serif;
	font-size: 34px;
	line-height: 42px;
	text-align: center;
	font-weight: 700;
	color: $black;
	padding-top: 91px;
	@media (max-width:600px){
		padding-top: 83px;
	}
}

.skills__subtitle {
	font-family: "Gilroy-Medium", sans-serif;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	color: $black;
	margin-top: 69px;
	margin-bottom: 87px;
}

// Programs

.programs{
	display: flex;
	flex-wrap: wrap;
	@media (max-width:600px){
		flex-direction: column;
	}
}
.programs-col {
	justify-content: center;
	width: 25%;
	@media (max-width:767px){
		width: 100%;
	}
}
.programs__photo {
	display: block;
	margin: 0 auto;
} 	
.programs__photo-ps {
	background: radial-gradient(75.99% 75.64% at 32.94% 22.44%, rgba(52, 54, 78, 0.98) 0%, #0C0824 100%);
}
.programs__photo-ai {
	background: radial-gradient(76% 75.63% at 32.97% 22.44%, rgba(66, 51, 37, 0.98) 0%, #1C0A00 100%);
}
.programs__photo-ae {
	background: radial-gradient(76% 75.63% at 32.97% 22.42%, rgba(68, 47, 85, 0.98) 0%, #12002C 100%);
}

.programs__title {
	font-family: "Gilroy-Bold", sans-serif;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	color: #828282;
	margin-top: 23px;
}
.programs__title-f {
	padding-bottom: 17px;
}
.programs__stars {
	display: flex;
	justify-content: center;
	margin-top: 41px;
	margin-bottom: 110px;
}
.programs__star {
	align-items: center;
	margin-left: 9px;
}

// Portfolio

.portfolio {
	background: #F6F6F6;
}
.portfolio__title {
	font-family: "Gilroy-Bold", sans-serif;
	font-size: 34px;
	line-height: 42px;
	text-align: center;
	color: $black;
	font-weight: 700;
	padding-top: 112px;
	margin-bottom: 47px;
	@media (max-width:767px){
		padding-top: 81px;
		margin-bottom: 65px;
	}
}
.porfolio__image {
	display: block;
  	max-width: 100%;
 	height: auto;
}

.portfolio__text {
	font-family: "Gilroy-Medium", sans-serif;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	text-decoration-line: underline;
	color: $black;
	margin-top: 45px;
	margin-bottom: 100px;
	
	@media (max-width:767px){
		margin-top: 33px;
		margin-bottom: 78px;
		.portfolio__text-pad{
			margin-bottom: 0;
			padding-bottom: 78px;
		}
	}
}
.portfolio__text-pad{
	margin-bottom: 0;
	padding-bottom: 96px;
}
// Contacts

.contacts__title {
	font-family: "Gilroy-Bold", sans-serif;
	font-size: 34px;
	line-height: 42px;
	text-align: center;
	color: $black;
	font-weight: 700;
	margin-top: 114px;
	margin-bottom: 20px;
	@media (max-width:767px){
		margin-top: 82px;
		margin-bottom: 27px;
	}
}
.contacts__subtitle {
	font-family: "Gilroy-Medium", sans-serif;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	color: $black;
	margin-bottom: 40px;
}
.contacts__btn {
	display: inline-block;
	font-family: "Gilroy-Bold", sans-serif;
	font-size: 18px;
	line-height: 22px;
	color: #fff;
	background-color: $black;
	padding: 10px 30px;
	border-radius: 20px;
	vertical-align: top;
	text-align: center;
	transition: backgraund-color .2s linear;
	&:hover {
		transform: scale(0.95);
	}
	@media (max-width:767px){
		padding: 10px 98px;
	}
}
.text-center{
	text-align: center;
}

.social {
	display: flex;
	justify-content: center;
	margin-top: 86px;
	transition: transform .2s linear;
}
.social__link {	
	&:hover {
		transform: translateY(-5px);
	}
	&:nth-child(1) {
		margin-right: 62px;
	}
	&:nth-child(2) {
		margin-right: 60px;
	} 
	&:nth-child(3) {
		margin-right: 62px;
	} 
}

.social__subtitle {
	font-family: "Gilroy-Medium", sans-serif;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	margin-top: 46px;
	color: #828282;
	padding-bottom: 123px;
}


// Mobile

.burger {
	display: none;
	width: 35px;
	height: 35px;
	cursor: pointer;
	padding: 0px;
	margin-left: 5px;
	margin-bottom: 10px;
	border: 0;
	background: none;
	position: relative;
	@media (max-width:767px){
		display: block;
		margin-top: 20px;
	}
}
.burger__icon {
	display: block;
	max-width: 100%;
	height: auto;
}

.burger span, .burger:after, .burger:before{
   height: 4px;
   width: 100%;
	position: absolute;
   background: $black;
    
}
.burger span{
    top: 17px;
}
.burger:after, .burger:before{
    content: '';
}
.burger:after{
    bottom: 5px;
	
}
.burger:before{
    top: 8px;
}

.burger.open-menu span {
	opacity:0; 
	transition: 0.5s; 
}
.burger.open-menu:before {
	transform: rotate(38deg);
	top: 16px;
	transition: 0.4s;
}
.burger.open-menu:after {
	transform: rotate(-38deg);
	bottom: 15px;
	transition: 0.4s;
}

.nav.nav__menu {
	display: none;
   position: absolute;
   top: 100%;
   left: 0;
   background: #fff;
   box-shadow: #ccc;
   width: 100%;
   box-shadow: 0 4px 2px -2px rgba(36, 36, 36, 0.17);
	z-index: 1;
	left: -100%;
   transition: all 0.4s ease;
	overflow: auto;
	@media (max-width:767px){
		display: block;
		
	}
	@media (max-width:600px){
		height: 812px;
	}
}
.nav.open-menu {
	left: 0;
}

.fixed-page{
	overflow: hidden; 
}